# WellSAP

## Workplace WellBeing Work_Life_Balance Training

### Imports

In [3]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

### Data Loading

In [4]:
attrition_data = pd.read_csv('./../dataset/attrition_data.csv', header=0, index_col='Employee_ID')
lifestyle_data = pd.read_csv('./../dataset/lifestyle_data.csv', header=0, index_col='Employee_ID')

### Data Pre-Processing

#### Lifestyle Data Pre-Processing

In [12]:
input_features_int_int = lifestyle_data.loc[:,['TODO_COMPLETED','LOST_VACATION']]
input_features_int_float = lifestyle_data.loc[:,['TIME_FOR_PASSION','FLOW']]

In [20]:
input_features_int_int = input_features_int_int.groupby('Employee_ID').mean().apply(np.ceil).astype(int)
input_features_int_float = input_features_int_float.groupby('Employee_ID').mean()

In [21]:
input_features = pd.concat([input_features_int_int, input_features_int_float], axis=1)
input_features

             TODO_COMPLETED  LOST_VACATION  TIME_FOR_PASSION  FLOW
Employee_ID
1.0                       5              2              3.36  3.24
2.0                       6              5              2.68  3.16
3.0                       6              3              3.40  3.16
4.0                       6              4              4.44  2.76
5.0                       6              5              2.24  2.24
...                     ...            ...               ...   ...
307.0                     7              2              3.60  4.28
308.0                     7              3              3.84  4.12
309.0                     7              2              3.40  3.24
310.0                     7              3              3.72  3.36
311.0                     7              4              3.44  3.36

[311 rows x 4 columns]

#### Attrition Data Pre-Processing

In [22]:
gender_encoder = preprocessing.LabelEncoder()
attrition_data['Gender'] = gender_encoder.fit_transform(attrition_data['Gender'])
age_encoder = preprocessing.LabelEncoder()
attrition_data['Age_Group'] = age_encoder.fit_transform(attrition_data['Age_Group'])

In [23]:
input_features = pd.concat([input_features, attrition_data['Age_Group'], attrition_data["Gender"]], axis=1)
input_features

,TODO_COMPLETED,LOST_VACATION,TIME_FOR_PASSION,FLOW,Age_Group,Gender
Employee_ID,,,,,,
1.0,5,2,3.36,3.24,0,1
2.0,6,5,2.68,3.16,1,1
3.0,6,3,3.40,3.16,0,0
4.0,6,4,4.44,2.76,0,0
5.0,6,5,2.24,2.24,0,0
...,...,...,...,...,...,...
307.0,7,2,3.60,4.28,0,1
308.0,7,3,3.84,4.12,0,0
309.0,7,2,3.40,3.24,1,0
310.0,7,3,3.72,3.36,1,0
311.0,7,4,3.44,3.36,1,0

### Output Data Pre-Processing

In [24]:
attrition_data

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Age_Group
Employee_ID,,,,,,,,,,,,,,,,,,,,,
116.0,37.0,Yes,Travel_Rarely,2.0,2.0,Other,4.0,1,2.0,1.0,...,3.0,2.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,1
211.0,27.0,No,Travel_Rarely,2.0,1.0,Medical,1.0,1,3.0,1.0,...,3.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0,2.0,0
18.0,59.0,No,Travel_Rarely,3.0,3.0,Medical,3.0,0,4.0,1.0,...,4.0,1.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,2
258.0,38.0,No,Travel_Frequently,23.0,3.0,Life Sciences,4.0,1,2.0,3.0,...,4.0,2.0,0.0,2.0,3.0,9.0,7.0,1.0,8.0,1
238.0,35.0,No,Travel_Rarely,16.0,3.0,Medical,1.0,1,4.0,1.0,...,3.0,3.0,1.0,5.0,3.0,5.0,4.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246.0,35.0,No,Travel_Rarely,26.0,4.0,Life Sciences,3.0,0,3.0,3.0,...,3.0,3.0,0.0,2.0,3.0,9.0,0.0,1.0,7.0,0
74.0,45.0,No,Travel_Rarely,20.0,3.0,Life Sciences,4.0,0,3.0,2.0,...,3.0,3.0,0.0,3.0,3.0,5.0,3.0,0.0,1.0,1
249.0,35.0,No,Travel_Frequently,18.0,4.0,Life Sciences,3.0,1,3.0,2.0,...,3.0,4.0,2.0,2.0,4.0,10.0,2.0,0.0,2.0,0
286.0,29.0,No,Travel_Rarely,13.0,2.0,Other,4.0,1,2.0,2.0,...,3.0,1.0,1.0,2.0,3.0,4.0,3.0,0.0,3.0,0
158.0,49.0,No,Travel_Frequently,2.0,3.0,Medical,4.0,1,2.0,2.0,...,3.0,4.0,0.0,3.0,2.0,9.0,6.0,0.0,8.0,1

In [26]:
output_features = attrition_data["WorkLifeBalance"]

output_scaler = preprocessing.StandardScaler()
output_features.reset_index(inplace=True)
output_features['WorkLifeBalance'] = output_scaler.fit_transform(output_features['WorkLifeBalance'])
output_features

TypeError: Cannot reset_index inplace on a Series to create a DataFrame